<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
  <title></title>


  <!-- compiled css output -->
  <link href="css/ionic.app.css" rel="stylesheet">
  <link href="css/style.css" rel="stylesheet">

  <!-- ionic/angularjs js -->
  <script src="lib/ionic/js/ionic.bundle.js"></script>

  <!-- cordova script (this will be a 404 during development) -->
  <script src="cordova.js"></script>

  <!-- your app's js -->
  <script src="js/app.js"></script>
  <script src="js/controllers/BoardController.js"></script>
</head>

<body ng-app="memory">

  <ion-pane>
    <ion-header-bar class="bar-stable">
      <h1 class="title">Memory !</h1>
    </ion-header-bar>
    <ion-content>
      <div class="playboard">
        <div class="cards-area">
          <div class="card-grid" ng-controller="BoardCtrl">
            <div class="card flip-container" ng-class="card.open" ng-repeat="card in cards track by $index" ng-click="selectCard(card)">
              <div class="flipper">
                <div class="front">
                  <img src="https://s-media-cache-ak0.pinimg.com/236x/78/72/85/787285725daa071f32ef52d08765fc3a.jpg" alt="">
                </div>
                <div class="back">
                  <img ng-src="img/{{card.val}}.png" class="card-face">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </ion-content>
  </ion-pane>
</body>

</html>
